<%- include header %>
<ul style="list-style: none">
    <li>
        <h3><a href="https://www.baidu.com"> 百度一下</a></h3> &emsp;你就知道了
    </li>
    <br />
    <li>
        <h3><a href="https://www.cn.bing.com">必应</a></h3> &emsp;微软搜索
    </li>
</ul>


<%- include footer %>
